* {
  box-sizing: border-box;
}

body{
  background-color: #ffeee6;
}

img{
  width: auto;
  max-height: 725px;
  max-width: 80%;
  border: 1vw groove #a4a4a4;
}

p{
  text-align: left;
  color: black;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #ffeee6;
  color: #666565;
  font-size: 3.5vw;
  font-family:'Sitka Text', Courier, monospace;
  margin-bottom: 0.25%;
}

.header a{
  text-decoration:  none;
}

.header .logo{
  display: flex;
  justify-content: center;
  width: 98%;
  padding: 1%;
  text-align: center;
}

.logoWithHamburger{
  display: flex;
  justify-content: space-between;
}

.headerLinks{
  display: none;
  justify-content: space-around;
  font-size: 2.5vw;
  margin: 1%;
}

a{
  transition: font-size 0.12s;
  color: #8c8b8b;
}

.logo a:hover, .logo a:focus  {
  font-size: 4vw;
}

.headerLinks a:hover, .headerLinks a:focus  {
  font-size: 3vw;
}

.navLink {
  text-align: center;
}

.headerLinksNone{
  display: flex;
}

.headerDropDown{
  display: flex;
  justify-content: flex-end;
  padding: 0.5%;
  font-size: 2vw;
}

.mainBody{
  flex-direction: column;
  color: #666565;
}

.artshow {
  background-color: #ffeee6;
  color: #666565;
  font-size: 3vw;
  padding: 1%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.25%;
  text-align: center;
  height: auto;
  max-height: auto;
  min-height: 100%;
  width: 100%;
  font-family: 'Sitka Text', Courier, monospace;
}

.leftText{
  margin-left: 2%;
  color: #666565
}

.title{
  text-align: center;
}

.contact input{
  cursor: pointer;
  height: 5vw;
  width:70%;
  text-align: left;
  font-size: 2vw;
  padding: 2%;
  margin: 2%;
}

.contact textarea{
  cursor: pointer;
  height: 15vw;
  width:70%;
  text-align: left;
  font-size: 2vw;
  margin: 2%;
}

.contact label{
  width: 20%;
  text-align: left;
  padding-top: 3%;
}

.contact button{
  height: 4vw;
  width: 40vw;
  cursor: pointer;
  font-size: 2vw;
  margin: 2%;
}

.contactForm{
  font-family: 'Courier New', Courier, monospace;
  font-size: 3vw;
  text-align: center;
  height: auto;
  width: 100%;
  border: solid;
  border-width: 5px;
  justify-content: center;
  margin-bottom: 0.5%;
}

.contactForm form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-family:'Sitka Text', Courier, monospace;
  font-size: 2vw;
  border: solid;
  border-width: 5px;
  text-align: center;
}

footer div{
  width: 33%;
}

.footer a:link, .footer a:visited{
  color: var(--caribbean-current);
  text-decoration: none;
  cursor: help;
  list-style-type: none;
}

.footer a:hover, .footer a:active {
  color: var(--caribbean-current);
  background-color: var(--vivid-sky-blue);
  list-style-type: square;
}

.socialMedia{
  display: flex;
  justify-content: space-evenly;
}